body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dddddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.header-text {
  font-style: bold;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0074d9;
  height: 20px;
  padding: 30px 25px;
  align-items: center;
}

/* .navbar-text {
  height: 80px;
  width: 100px;
  color: #dddddd;
} */

.navbar-text {
  height: 80px;
  width: 500px;
  color: #dddddd;
}

.SignInRedirect {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: right;
  font-size: 30px;
  text-decoration: none;
}

.AccountText,
.WelcomeText,
.AccountDiv {
  text-align: center;
}

.HomePageDiv {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.emailForm > input,
.emailForm > textarea {
  text-align: center;
  font-size: 15px;
  height: 20px;
}

.emailForm > button {
  width: 120px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  background-color: #0074d9;
  color: white;
  border-radius: 1em;
  justify-self: center;
}

.emailForm {
  display: grid;
  grid-template-columns: 40%;
  row-gap: 20px;

  justify-self: center;
  justify-content: center;
}

.SignInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GoogleButton {
  text-align: center;
}

.logoutButton,
.logoutButtonNav,
.signinButtonNav,
.calButtonNav,
.accButtonNav,
.homeButtonNav {
  color: #dddddd;
  background-color: #001f3f;
  border: solid;
  font-size: 14px;
  padding: 10px 10px;
  border-color: #001f3f;
  cursor: pointer;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  text-decoration: none;
}

li:hover {
  background-color: #0074d9;
}

.logoutButton:hover {
  background-color: #0074d9;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #dddddd;
  display: grid;
  width: 90vw;
  height: 90vh;
}

.Scheduler {
  margin-left: 5px;
}
/* .SchedulerForm{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
 } */
.addEvent {
  color: #dddddd;
  background-color: #001f3f;
  border: solid;
  font-size: 14px;
  border-color: #001f3f;
  cursor: pointer;
  margin: 14px 42px;
}

.addEvent:hover {
  background-color: #0074d9;
}

.HomePageDiv > section {
  justify-content: center;
  display: grid;
  row-gap: 30px;
  grid-template-columns: 200px 30%;
}

.profile {
  border-radius: 25px;
  box-shadow: 0px 0px 10px black;
}
.emailForm > .sendEmail {
  color: #dddddd;
  background-color: #001f3f;
  border: solid;
  font-size: 18px;
  border-color: #001f3f;
  cursor: pointer;
}
